/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Noto Sans KR", sans-serif !important;
  color: #353535;
  background-color: #fff;
  font-size: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #353535;
}

/* 메인 */
main {
  flex: 1;
}

/* 상단 */
header-component {
  width: 100%;
  z-index: 9;
}

/* 헤더 */
.header {
  min-height: 80px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.header .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
}

/* 로고 */
.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px; /* 로고 높이를 메뉴 크기와 맞춤 */
  width: auto;
  object-fit: contain;
}

/* 메뉴 */
.menu {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.innerHeader {
  font-size: 0.8rem; /* 폰트 크기 */
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.innerHeader:hover {
  color: #ff9800;
  transform: scale(1.1);
}

/* 모바일 메뉴 */
.hamburger-icon {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.hamburger-icon span {
  display: block;
  width: 25px;
  height: 3px;
  background: #333;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  z-index: 999;
}

.mobile-menu.open {
  display: flex;
}

.mobile-menu-item {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

/* 스크롤 시 고정 헤더 스타일 */
.headerFixed {
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.6s ease forwards;
}

.headerPlace {
  position: relative;
}

.headerPlaceFixed {
  position: fixed;
}

/* 애니메이션 */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* 하단 */
footer-component {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 9;
  align-self: flex-end;
}

.footer {
  width: 100%;
  min-height: 80px;
  z-index: 9;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background-color: transparent;
  border-top: 1px solid #ddd;
  margin-top: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  gap: 20px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
}

/* 슬라이드 */
/* Slider Container */
.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}

/* Slides Wrapper */
.slides {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%; /* 3 slides */
  height: auto;
}

/* Slide Images */
.slides img {
  width: 100%;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
}

/* Navigation Buttons */
button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #353535;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 2;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

/* Pagination */
.pagination {
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
}

.page-indicator {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
}

/* 배너 전체 레이아웃 */
.banner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  height: auto;
}

/* 개별 배너 컨테이너 */
.banner-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  height: auto;
}

/* 배너 이미지 */
.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

/* 배너 텍스트 */
.banner-text {
  position: absolute;
  width: 100%;

  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 8px;
}

/* 호버 효과 */
.banner-container:hover .banner-image {
  transform: scale(1.1);
}

/* 메인 영상 */
.videoWrapper {
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.mainVideo {
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 0;
  padding-top: 56.25%;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.mainVideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  max-height: 1080px;
  border: 0;
}

/* 상품 리스트 */
recommend-component {
  width: 100%;

  padding: 20px;
}
/* Swiper 컨테이너 */
.swiper {
  width: 100%;
  height: auto;
  max-width: 90%; /* 슬라이더의 최대 너비 */
  margin: 0 auto; /* 슬라이더를 페이지 중앙으로 정렬 */

  padding-bottom: 40px;
}

.swiper-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  gap: 10px;
}

.swiper-text span:nth-child(1) {
  font-weight: 600;
  font-size: x-large;
}

.swiper-text span:nth-child(2) {
  color: #aaaaaa;
}

/* Swiper 슬라이드 */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 상품 카드 */
.product {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

/* 상품 오버레이 */
.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease;
  gap: 20px;
}

.product:hover .product-overlay {
  opacity: 1;
  cursor: pointer;
}

/* 구매 버튼 */
.buy-button {
  padding: 10px 20px;
  background-color: #ff9800;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.buy-button:hover {
  background-color: #e68a00;
}

/* 네비게이션 버튼 */
.swiper-button-prev,
.swiper-button-next {
  color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 2rem;
  margin-top: 40px;
}

/* 페이지네이션 */
.swiper-pagination {
  bottom: 0 !important;
}

.swiper-pagination-bullet-active {
  background-color: #353535;
}

/* 롱배너 */
.longBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  height: auto;
  width: 100%;
  padding: 20px 0;
}

.longBanner a {
  width: 100%;
}

.longBanner img {
  width: 100%;
}

.longBanner-text {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f8f8f8;
  text-align: center;
  gap: 20px;
}

.longBanner-text span:nth-child(1) {
  font-size: 3rem;
  font-weight: 600;
}

.moreBtn {
  padding: 10px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.moreBtn:hover {
  transition: all 0.3s ease;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
}

.reverse {
  background-color: #353535;
}

.reverse p {
  color: #fff;
}

.reverse i {
  color: #fff;
}

.reverse:hover {
  border: 1px solid #353535;
  color: #353535;
}

.reverse:hover p {
  color: #353535;
}

.reverse:hover i {
  color: #353535;
}

.moreBtn p {
  padding-right: 50px;
  margin: 0;
}

/* 신상품 */
/* 신상품 컨테이너 */
new-product-component {
  width: 100%;
  padding: 20px;
}
.Products {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(0, 1fr)); /* 행의 최소 높이 */
  grid-template-columns: repeat(5, 1fr); /* 최대 5열 */
  gap: 20px; /* 카드 간 간격 */
  justify-items: center; /* 카드 정렬 */
  padding: 0 20px;
}

/* 상품 정보 */
.newProduct-info {
  padding: 10px 0;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}

.newTag {
  border: 1px solid #353535;
  color: #f8f8f8;
  background-color: #353535;
  padding: 0 2px;
}

.price {
  color: #ff99cc;
}

/* 초기 상태: 컴포넌트가 투명하고 아래로 이동 */
.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* 화면에 보일 때 애니메이션 실행 */
.fade-in-visible {
  opacity: 1;
  transform: translateY(0);
}

/* 베스트 리스트 */
best-product-component {
  width: 100%;
  padding: 20px;
}

/* 리뷰 리스트 */
review-slider-component {
  width: 100%;
  padding: 20px;
}
/* 슬라이더 컨테이너 */
.review-slider {
  width: 100%;
  position: relative;
  overflow: hidden;

  max-width: 90%; /* 슬라이더의 최대 너비 */
  margin: 0 auto; /* 슬라이더를 페이지 중앙으로 정렬 */
}

/* 슬라이드 */
.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* 이미지만 커지도록 설정 */
  width: 100%; /* 슬라이드 크기를 swiper에 맞춤 */
  max-width: 250px; /* 반응형 제한 */
  margin: 0 auto; /* 가운데 정렬 */
}

/* 이미지 래퍼 */
.review-image-wrapper {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  overflow: hidden; /* 이미지가 커져도 영역 밖으로 나가지 않음 */
  margin-bottom: 10px;
  border-radius: 0 0 10px 10px;
}

.review-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.review-image-wrapper:hover .review-image {
  transform: scale(1.1); /* 호버 시 이미지 확대 */
}

/* 텍스트 부분 */
.review-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%; /* 슬라이드 너비에 비례 */
  max-width: 220px; /* 최대 크기 제한 */
  overflow: hidden;
  padding: 0 10px;
  box-sizing: border-box;
}
/* 제목 */
.review-title {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-overflow: ellipsis; /* 생략 표시 */
  white-space: nowrap;
  overflow: hidden;
}

/* 내용 */
.review-content {
  font-size: 0.85rem;
  color: #666;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* 생략 표시 */
}

/* 이름 및 선 */
.review-name-line {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1px;
  background-color: #f8f8f8;
  margin: 10px 0;
}

.review-name {
  font-size: 0.9rem;
  color: #333;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* 생략 표시 */
}

.review-stars {
  font-size: 1rem;
  padding-bottom: 10px;
  color: #f5c518; /* 별 색상 */
}

/* 네비게이션 버튼 */
.swiper-button-prev,
.swiper-button-next {
  color: #353535;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  z-index: 2;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  margin-top: 0;
  margin-bottom: 60px;
}

/* 인스타그램 */
instagram-component {
  width: 100%;
  padding: 20px 0;
}
/* 전체 그리드 */
.instagram-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5개의 열 */
  grid-auto-rows: 1fr; /* 정사각형 유지 */
  gap: 10px; /* 사진 간 간격 */
  padding: 10px;
}

/* 각 아이템 */
.instagram-item {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1; /* 정사각형 유지 */
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.instagram-item:hover {
  transform: scale(1.05); /* 호버 시 약간 확대 */
}

/* 이미지 */
.instagram-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/* 오버레이 */
.instagram-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 검은색 반투명 */
  opacity: 0; /* 기본적으로 숨김 */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

.instagram-item:hover .instagram-overlay {
  opacity: 1; /* 호버 시 오버레이 표시 */
}

/* 아이콘 */
.fa-instagram {
  color: #fff;
  font-size: 2rem;
}

.instagram-item:hover .instagram-icon {
  transform: scale(1.2); /* 호버 시 아이콘 확대 */
}

/* 위젯 */
/* 위젯 컨테이너 */
.widget {
  position: fixed;
  top: 50%; /* 화면 중간 */
  right: 20px; /* 화면 오른쪽 */
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* 버튼 간 간격 */
  background-color: #f8f8f8;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* 위젯 버튼 */
.widget-button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.widget-button i {
  color: #353535;
  font-size: 1.25rem;
}

/* 버튼 호버 효과 */
.widget-button:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
}

/* 광고 배너 */
ad-banner-component {
  width: 100%;
  z-index: 10;
}

/* 광고 배너 컨테이너 */
.ad-banner-container {
  width: 100%;
  height: auto;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center; /* 세로 정렬 */
  top: 0;
  overflow: hidden;
  z-index: 1000;
}

/* 닫기 버튼 */
.ad-banner-close {
  position: absolute;
  right: 10px;
  top: 20px;
  transform: translateY(-50%);
  font-size: 1rem;
  cursor: pointer;
  color: #555;
  padding: 5px 10px;
  background: none;
  border: none;
  font-weight: bold;
  user-select: none;
  transition: color 0.3s ease;
  z-index: 10;
}

.ad-banner-close:hover {
  color: #000;
}

/* Swiper */
.ad-banner-swiper {
  width: 100%;
  height: 40px;
  display: flex; /* Flexbox 추가 */
  align-items: center; /* 텍스트 세로 중앙 정렬 */
  overflow: hidden;
  padding: 0;
}

/* Swiper Wrapper */
.ad-banner-swiper .swiper-wrapper {
  display: flex;
}

/* Swiper 슬라이드 */
.ad-banner-slide {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  height: 100%; /* 슬라이드가 배너 높이를 채움 */
  font-size: 0.9rem;
  color: #333;
  font-weight: bold;
  text-align: center; /* 텍스트 중앙 정렬 */
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

.user {
  display: block;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  body {
    font-size: 10px;
  }

  .menu {
    display: none;
  }

  .hamburger-icon {
    display: flex;
  }

  /* 상품 리스트 */
  recommend-component {
    padding: 10px;
  }
  /* Swiper 컨테이너 */
  .swiper {
    padding-bottom: 20px;
  }

  .swiper-text {
    gap: 5px;
  }

  .swiper-text span:nth-child(1) {
    font-size: large;
  }

  /* 구매 버튼 */
  .buy-button {
    padding: 2.5px 5px;
    font-size: 8px;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 110px;
  }

  /* 페이지네이션 */
  .swiper-pagination {
    bottom: 0 !important;
  }

  .swiper-pagination-bullet-active {
    background-color: #353535;
  }

  /* 배너 텍스트 */
  .banner-text {
    top: 50%;
    gap: 4px;
  }
  .banner-text span:nth-child(2) {
    font-size: 8px;
  }

  /* 신상품 */
  /* 신상품 컨테이너 */
  new-product-component {
    width: 100%;
    padding: 20px;
  }
  .Products {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(0, 1fr)); /* 행의 최소 높이 */
    grid-template-columns: repeat(3, 1fr); /* 최대 3열 */
    gap: 10px; /* 카드 간 간격 */
    justify-items: center; /* 카드 정렬 */
    padding: 0 10px;
  }

  /* 롱배너 */

  .longBanner-text {
    gap: 2.5px;
  }

  .longBanner-text span:nth-child(1) {
    font-size: 26px;
  }

  .moreBtn {
    justify-content: center;
    padding: 2px 4px;
  }

  .moreBtn p {
    padding-right: 0;
  }

  .moreBtn i {
    display: none;
  }

  /* 헤더 */

  .header .inner {
    gap: 5px;
    justify-content: space-between;
  }

  /* 메뉴 */
  .menu {
    gap: 5px;
  }

  .innerHeader {
    font-size: 12px;
  }

  .user-icon {
    display: none;
  }
}
