body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.container {
  max-width: 400px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

#registerForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.input-container {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;
}

.input-text {
  display: flex;
  align-items: center;
  gap: 5px;
  min-width: 80px;
}

.input-text span:nth-child(2) {
  color: #0056b3;
}

form input {
  padding: 10px 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.phone-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 157.5px;
  gap: 5px;
}

.phone-input input {
  text-align: center;
  padding: 5px;
  font-size: 12px;
  width: 100%;
}

.phone-input input[readonly] {
  background-color: #eee;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #353535;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #fff;
}

#registerMessage {
  margin-top: 10px;
  text-align: center;
  color: red;
  font-size: 14px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #353535;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: 20px;
  margin-top: 60px;
}

input[type="checkbox"] {
  margin: 0 5px;
}

.checkbox-group label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.checkbox-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.checkbox-section label {
  display: flex;
  gap: 5px;
  align-items: center;
}

.checkbox-section label div {
  display: flex;
  align-items: center;
  min-height: 20px;
}

/* 스타일링된 스크롤 가능한 박스 */
.scroll-box {
  width: 100%; /* 박스의 너비 */
  height: 150px; /* 박스 높이 */
  border: 1px solid #ddd; /* 박스 테두리 */
  border-radius: 8px; /* 테두리 둥글게 */
  background-color: #f9f9f9; /* 배경색 */
  overflow-y: auto; /* 수직 스크롤 생성 */
  line-height: 1.5; /* 줄 간격 */
  font-size: 14px;
  color: #333;
}

.scroll-box p {
  padding: 10px;
}

/* 드래그 시 텍스트 스타일링 */
::selection {
  background-color: #cce5ff; /* 드래그 시 배경색 */
  color: #004085; /* 드래그 시 텍스트 색상 */
}

#loginForm {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

#register-btn {
  width: 100%;
  background-color: #353535;
}

.additional-options {
  display: flex;
  justify-content: space-between;
}

.profile-section {
  text-align: center;
  margin: 50px auto;
  max-width: 500px;
}

.user-info {
  margin-bottom: 20px;
}

.logout-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #e60000;
}
